.btnGradient{
        height: 30px;
        line-height: 80px;  
        width: 30px;  
        margin-right: 20px;
        font-size: 2em;
        font-weight: bold;
        border-radius: 50%;
        /* background-color: black; */
        background-image: linear-gradient(rgb(69 71 69),rgb(7 178 87));
        color: white;
        text-align: center;
        cursor: pointer;
}

/* .numberCircle {
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    height: 36px;
    padding: 8px;
    background: #FFF;
    background-color: #3274ff;
    border: 0px solid #04066a;
    color: #ffffff;
    text-align: center;
    font: 20px Arial, sans-serif;
} */

.numberCircle {
    /* width: 7%;
    line-height: 80px;
    border-radius: 50%; */
    text-align: center;
    font-size: 32px;
    margin-right: 30px;
    background: #FFF;
    background-color: #3274ff;
    border: 0px solid #04066a;
    color: #ffffff;
}

/* footer{
    position: absolute;
} */

.btnG :hover{
    color:blanchedalmond;
}

.btnGreen{
    background-color: green;
}

#flexSwitchCheckDefault{
    cursor: pointer;
}

